body {
    background-color: aqua;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.wrapper {
    margin: 15px;
    display: flex;
    
}

.pink-column {
    background-color: rgb(255, 0, 157);
    height: 100px;
}

.burgandy-column  {
    background-color: rgb(128, 0, 100);
    height: 100px;
}

.orange-column {
    background-color: orange;
    height: 100px;
}


